<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="stylesheet" href="/bootstrap.css">
	<link rel="stylesheet" href="/app.css">
</head>
<body ng-app="jwtApp">
<div class="navbar navbar-default navbar-fixed-top">
	<div class="container">
		<div class="navbar-header"><a ui-sref="home" class="navbar-brand">Kzzaa.com</a>
			<button type="button" data-toggle="collapse" data-target="#navbar-main" class="navbar-toggle"><span
				class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
		</div>
		<div id="navbar-main" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li ui-sref-active="active"><a ui-sref="logs">Logs</a></li>
				<li ui-sref-active="active"><a ui-sref="token">Token</a></li>
			</ul>
			<ul ng-controller="NavLoginCtrl" class="nav navbar-nav navbar-right">
				<li ui-sref-active="active" ng-if="!state.isLoggedIn"><a ui-sref="login">Login</a></li>
				<li ui-sref-active="active" ng-if="state.isLoggedIn"><a ui-sref="logout">Logout</a></li>
			</ul>
		</div>
	</div>
</div>
<div id="content" ui-view class="container"></div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.11/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.13/angular-ui-router.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/restangular/1.3.1/restangular.min.js"></script>
<script type="text/ng-template" id="templates/home.html"><h3>Kzza authentication is based on JSON WEB TOKENS </h3></script>
<script type="text/ng-template" id="templates/token.html"><h3>Token</h3>
<pre id="token" name="token" ng-bind-html="token"> </pre></script>
<script type="text/ng-template" id="templates/logs.html"><h4>Logs</h4>
<ul class="list-unstyled">
	<li ng-repeat="log in logs">{{log.date | date: 'short'}} - {{log.description}}</li>
</ul></script>
<script type="text/ng-template" id="templates/login.html">
	<div
	role="alert" ng-show="error.show" class="alert alert-danger">
	<button type="button" aria-label="Close" ng-click="error.show = !error.show" class="close"><span
		aria-hidden="true">×</span></button><strong>Error!</strong> {{error.message}}</div>
	<div class="row">
		<div class="col-sm-6 col-md-4 col-md-offset-4">
			<div class="account-wall">
				<div id="my-tab-content" class="tab-content">
					<div id="login" class="tab-pane active"><img
						src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120"
						alt="" class="profile-img">

						<form ng-submit="login(credentials)" class="form-signin"><input ng-model="credentials.username" type="text"
						                                                                placeholder="Username" required=""
						                                                                autofocus="" class="form-control"><input
							ng-model="credentials.password" type="password" placeholder="Password" required=""
							class="form-control"><input type="submit" value="Sign In" class="btn btn-lg btn-default btn-block"></form>
					</div>
				</div>
			</div>
		</div>
	</div></script>
<script type="text/ng-template" id="templates/logout.html"><h3 ng-if="!state.isLoggedIn">You are logged out!</h3>
</script>
<script src="/app.js"></script>
</body>
</html>
